<!DOCTYPE html>
<html>
<body>
    <div>
    <h1>List of Tables</h1>
        <table border="1">
            <%
                if(tableData.length!=0){
                var i=1;
                tableData.forEach(function(data){
            %>
            <tr>
                    <% Object.keys(data).forEach(function(key) { %>
                        <td><a href="/<%= data[key] %>"><%= data[key] %></td>
                    <% }); %>
            </tr>
            <%  i++; }) } %> 
        </table>
    </div>
</body>
</html>